_auth = cndlbmNlc2xhdTpBS0NwNWVqeG1xaG5tY1pnS3pmc01VUzZpelNLN0JUSk14dEgzWWgzb1dXcUh3QzRQeXFYTlRON3R6OGFGOHhDOWZBNmlacVY5
email = rwenceslau@schoology.com
always-auth = true
registry = https://schoology.jfrog.io/schoology/api/npm/npm/
