.results {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 15%;
    color: black;
}